# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.*.local

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android
*.apk
*.aab
*.ap_
*.dex
.gradle
/build
/captures
.cxx
local.properties

# macOS
.DS_Store

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
